@page "/identify"
@using System.Collections.Generic
@using BlazorClient.Data
@using BlazorInputFile

<div class="container">
    <h1>Identify image</h1>

    <p>
        This component allows sending an image to run the image recognition model.
        Select an image to start the upload and recognition process.
    </p>
    <form>
        <InputFile multiple OnChange="OnImageFileSelected" accept="image/*" />
    </form>

    <div class="row my-4">
        @foreach (var image in selectedImages)
        {
            <div class="col-4">
                <IdentifyImage @key="image" Image="image" OnClear="OnClear" />
            </div>
        }
    </div>
</div>


@code {
    List<SelectedImage> selectedImages = new List<SelectedImage>();

    void OnImageFileSelected(IFileListEntry[] files)
    {
        selectedImages.AddRange(
          files.Select(f => new SelectedImage(f)));
    }

    void OnClear(SelectedImage image)
    {
        selectedImages.Remove(image);
    }
}